# R and co
.Rhistory
.Rprofile
.Rapp.history
.RData
.Ruserdata
*.Rproj
.Rproj.user
.Rproj.user/
/*.Rcheck/
renv/

# Python and co
_environment
/.micromamba/
/.joblib
/.pytest_cache/

# Quarto tmp files
/.quarto/
/*_files
/*_cache
/_freeze
_site/
/cache/

# Quarto extension files
_extensions/
logo_text_white.pdf
logo_notext_white.png

# Quarto output files
submitted-202601-splsrtuning.html
submitted-202601-splsrtuning.pdf
submitted-202601-splsrtuning.ipynb
submitted-202601-splsrtuning.tex
submitted-202601-splsrtuning.tex

# Latex compilation files
*.aux
*.log
*.toc

# Various system files
DS_Store
/.luarc.json
.vscode/

**/*.quarto_ipynb
